.main-header .container
    padding: 1rem 0rem
    display: flex
    align-items: center
    justify-content: space-between

.main-header .links
    display: flex
    align-items: center
    a
        margin-left: 1rem